doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Giota&Giannis Wedding Webpage')
        meta(name='author', content='Giannis Skoulis')

        title Giota & Giannis are getting married ... Again!

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='icon', type='image/x-icon', sizes='16x16', href='assets/favicon-16x16.png')
        link(rel='icon', type='image/x-icon', sizes='32x32', href='assets/favicon-32x32.png')
        link(rel='icon', type='image/x-icon', sizes='192x192', href='assets/android-chrome-192x192.png')
        link(rel='icon', type='image/x-icon', sizes='512x512', href='assets/android-chrome-512x512.png')
        link(rel='apple-touch-icon', sizes="180x180", href='assets/apple-touch-icon.png')
        link(rel='manifest', href='assets/site.webmanifest')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        .button-group.dropstart
            button.position-fixed.btn.btn-success.btn-floating.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false")
                i.bi.bi-list
            ul.dropdown-menu.bg-green-subtle
                li
                    a.dropdown-item(href="#story") ⛪ Our Story
                li
                    a.dropdown-item(href="#timeline") 📅 Timeline
                li
                    a.dropdown-item(href="#map") 🗺 Map
                li
                    a.dropdown-item(href="#accommodation") 🛌 Accommodation
                li
                    a.dropdown-item(href="#getting-there") ✈ Getting There
                li
                    a.dropdown-item(href="#gifts") 🎁 Gifts

        header.header.position-fixed.top-0.start-0.leaves

        .position-fixed.top-50.start-50.translate-middle.background(style='background-image: url("/assets/img/logo.png");')

        header.masthead#top
            .row
                .col
                    .container.position-relative.justify-content-center
                        .text-center.text-white#header-text
                            h1.display-1.caligraphy Giota & Giannis
                            h2.display-6 Are getting married. Again!
                            h3.display-6
                                a.text-reset(href='/assets/wedding.ics') Saturday, 13th of July 2024.

        .content
            section.showcase
                .container-fluid.p-0
                    .row.g-0.mb-3.target#story
                        .col.text-center.mb-3.showcase-text
                            h2.mb-4 Our Story
                            p.lead.mb-1
                                | Giota and Giannis met under some quite unexpected circumstances in Gothenburg, Sweden, back in 2015.
                            p.lead.mb-1
                                | He was living in Oslo, Norway. She was living in Freiburg, Germany.
                                | Even though Giota was not very impressed initially, Giannis' dedication made her reconsider.
                                | Their first year was mostly in remote, with Giannis visiting quite often.
                                | As things started to get more serious, Giannis convinced Giota to move to Oslo, which happened in late 2016.
                                | In December 2019, right before the pandemic was a thing, Giannis asked the question and Giota said yes!
                            p.lead.mb-1
                                | Fast forward some global lockdowns, pregnancies and civil weddings, we are now happy to invite you to the official "Greek" wedding.
                            p.lead.mt-1
                                | See you at the dance floor!
                            img.mt-2(src="/assets/img/logo.png" height="150")
                    .row.g-0.mb-3.target#timeline
                        .col.text-center.mb-3.showcase-text
                            .container-fluid.px-4
                                h3.mb-4 Timeline
                                p.mb-1
                                    | The main event will take place on Saturday the
                                    a(href='/assets/wedding.ics') 13th of July 2024.
                                p.mb-1
                                    | The clock is ticking ....
                                    countdown#countdown
                                br
                                p.mb-1
                                    | Here is the schedule for the day of the event. More details will be added soon.
                            .container-fluid.ps-5.my-4
                                ul.timeline.my-0.text-thin
                                    li.event(data-date="18:30 - 19:30")
                                        p
                                            | Church Ceremony
                                            br
                                            a.muted(href='https://maps.app.goo.gl/ztwCSkXgLNxXoW4h7' target='_blank' rel='noopener')
                                                i.bi.bi-geo-alt
                                                | Ιερός Ναός Προφήτη Ηλία
                                                sup
                                                    i.bi.bi-box-arrow-up-right
                                    li.event(data-date="20:00 - 21:00")
                                        p
                                            | Arrival at the Reception Venue and Welcome Drinks
                                            br
                                            a.muted(href='https://maps.app.goo.gl/Ams8wik3Ko8J38mW7' target='_blank' rel='noopener')
                                                i.bi.bi-geo-alt
                                                | Κτήμα Κωστοπούλου
                                                sup
                                                    i.bi.bi-box-arrow-up-right
                                    li.event(data-date="21:00 - 23:00")
                                        p Dinner
                                    li.event(data-date="23:00 - ??:??")
                                        p PARTY!!!!
                    .row.g-0.mb-3.target#map
                        .col.text-center.mb-3.showcase-text
                            .container-fluid.map.w-75
                                iframe.border-0(
                                    width='100%'
                                    height='100%'
                                    frameborder='0'
                                    allowfullscreen
                                    allow='geolocation'
                                    src='//umap.openstreetmap.de/en/map/gigi-wedding_56231?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=false&starControl=false&editinosmControl=false&measureControl=false&locateControl=false&datalayers=470d2b42-3c4a-4527-b13b-704d03cfe873%2C583b6f10-42a9-4955-955d-9341703f574b%2C7069a650-e2a7-49ba-a0b2-8f9bce044b15#12/39.3500/22.9200')
                    .row.g-0.mb-3.target#accommodation
                        .col.text-center.mb-3.showcase-text
                            button.btn(data-bs-toggle="collapse" data-bs-target="#collapse-accommodation" aria-expanded="false" aria-controls="collapse-accommodation")
                                h3.mb-2 Accommodation
                                    i.bi.bi-chevron-expand
                            .collapse-body.collapse.target#collapse-accommodation
                                p.mb-1
                                    | This is a list of some hotels that we recommend for your stay.
                                    | You can also find a quick overview of those on the map
                                ul.list-group.position-relative(style="left: 15%; width: 70%;")
                                    a.list-group-item.list-group-action.bg-transparent(href='https://salina-volos.com/en/' target='_blank' rel='noopener')
                                        | Salina Apartments
                                        br
                                        | (Use discount code:
                                        text.font-monospace.text-reset wedding24
                                        | )
                                    a.list-group-item.list-group-action.bg-transparent(href='https://volosfiloxenia.gr/en/home/' target='_blank' rel='noopener')
                                        | Philoxenia
                                    a.list-group-item.list-group-action.bg-transparent(href='https://www.aegli.gr/' target='_blank' rel='noopener')
                                        | Aegli
                                    a.list-group-item.list-group-action.bg-transparent(href='https://1910hotel.gr/' target='_blank' rel='noopener')
                                        | 1910 Lifestyle Hotel
                                    a.list-group-item.list-group-action.bg-transparent(href='https://www.volospalace.gr/' target='_blank' rel='noopener')
                                        | Volos Palace
                                    a.list-group-item.list-group-action.bg-transparent(href='https://www.philippos.gr/en/' target='_blank' rel='noopener')
                                        | Philippos Hotel
                                    a.list-group-item.list-group-action.bg-transparent(href='https://amhotels.gr/en/' target='_blank' rel='noopener')
                                        | Park Hotel
                    .row.g-0.mb-3.target#getting-there
                        .col.text-center.mb-3.showcase-text
                            button.btn(data-bs-toggle="collapse" data-bs-target="#collapse-getting-there" aria-expanded="false" aria-controls="collapse-getting-there")
                                h3.mb-2 Getting There
                                    i.bi.bi-chevron-expand
                            .collapse-body.collapse.target#collapse-getting-there
                                h5.my-3 ✈ Airports
                                p.my-1
                                    | There are 4 airports that can be used to get as close as possible to Volos.
                                h6.my-2 ATH Athens
                                p Connections with Car, Bus and Train
                                h6.my-2 SKG Thessaloniki
                                p Connections with Car, Bus and Train
                                h6.my-2 JSI Skiathos
                                p Connections with Boat. Also check Restplasser in Apollo.no
                                h6.my-2 VOL Volos/N. Anchialos
                                p Connections with local Bus which will get you to Volos in ~20min

                                h5.my-3 🚗 Car
                                p.my-1
                                    | From Thessaloniki, you drive south the main highway (A1) Until you find the exit for Volos/Velestino (E92).
                                    | There are quite a few car rental places around the airport that are not included in any
                                    | aggregated search website. Just spend some time finding their main webpages from their entries in
                                    | the map. They are quite cheaper than the standard Hertz/Avis etc.
                                p.my-2
                                    | Similarly from Athens, you drive north the main highway (A1) Until you find the exit for N.Anchialos (30).

                                h5.my-3 🚌 Bus
                                p.my-1
                                    | There are connections to almost all major cities in Greece.
                                    | You can check routes and get tickets
                                    a(href='https://ktelvolou.e-ticketing.gr/Pages/Destinations.aspx' target='_blank' rel='noopener') here.
                                    sup
                                        i.bi.bi-box-arrow-up-right

                                h5.my-3  Boat
                                p.my-1
                                    | There are tons of online webpages to get tickets for boats.
                                    | Do a quick search and find what looks better for your 😊

                                h5.my-3 🚂 Train
                                p.my-1
                                    | Unfortunately there is no train between Larisa and Volos. The service has not recovered since the
                                    | (not so) recent flooding. There is bus for train offered by the train company but standard buses are better
                                    | and recommended.
                                p.my-2
                                    | Tickets can be purchased from
                                    a(href='https://tickets.hellenictrain.gr/dromologia/' target='_blank' rel='noopener') here.
                                    sup
                                        i.bi.bi-box-arrow-up-right
                                p.my-2
                                    | In general, the public trust on the trains in Greece has been shaken a lot due to a horrible
                                    | accident that happened last year. I would recommend a different way of transport.

                    .row.g-0.mb-3.target#gifts
                        .col.text-center.mb-3.showcase-text
                            button.btn(data-bs-toggle="collapse" data-bs-target="#collapse-gifts" aria-expanded="false" aria-controls="collapse-gifts")
                                h3.mb-2 Gifts
                                    i.bi.bi-chevron-expand
                            .collapse-body.collapse.target#collapse-gifts
                                p.my-1
                                    | Having you with us will be the best gift we can get!
                                    | If however you want to contribute in the future of our
                                    | growing family, you can toss your coin to one of the following directions.
                                .row
                                    .col-sm-6
                                        .card.bg-transparent.m-2
                                            .card-body.text-center
                                                h6.card-subtitle.mb-2.text-body-secondary Alpha Bank (EUR)
                                                p.card-text
                                                    | Ioannis Skoulis
                                                    br
                                                    | GR1901403100310002101418651
                                                    br
                                                    | BIC/SWIFT: CRBAGRAA
                                    .col-sm-6
                                        .card.bg-transparent.m-2
                                            .card-body.text-center
                                                h6.card-subtitle.mb-2.text-body-secondary DNB (NOK)
                                                p.card-text
                                                    | Ioannis Skoulis
                                                    br
                                                    | 9801.34.05034
                                                    br
                                                    | NO53 9801 3405 034
                                                    br
                                                    | BIC/SWIFT: DNBANOKKXXX

            section.internal-footer.text-center
                .row
                    .col
                        img.mt-2(src="/assets/img/logo.png" height="150")
                        p.text-muted.small.mt-2.mb-5.mb-lg-0
                            | &copy; giskou 2024
                            br
                            | All Rights Reserved.

        footer.footer.position-fixed.bottom-0.end-0.leaves
            button.btn.btn-success.btn-floating#btn-back-to-top
                i.bi.bi-arrow-up

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src='js/scripts.js')
